Source: power-profiles-daemon-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: power-profiles-daemon-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, power-profiles-daemon
Conflicts: systemd, systemd-sysv
Description: Package to add power-profiles-daemon configuration for OpenRC.
 This package will add the boot scripts to use power-profiles-daemon
 with OpenRC in Nitrux.

